[2014-04-03 21:52] mdespuits opened #2 "Should be able to define action without template when redirect present"
Not sure where this would go, but ran into this situation when fiddling:
- `HomeController::Create` is defined

[code]
- `AppRoutes` is defined with a POST to '/' that points to `HomeController::Create`

[code]
### Problem 1

_I cannot skip creating `Home::Create` view_

If I am redirecting, I would prefer not to have to define a view if one is not necessary
### Problem 2

_When `Home::Create` exi

[2014-04-04 13:30] #2 closed, assigned to nobody

[2014-04-07 17:37] apohllo opened #3 "Local variables in template are global"
When there are two templates defined with same local variable, the variable in the called template is shadowed by the variable in the calling template.

E.g.
`parent.html.haml`

[code]

`child.html.haml`

[code]

In the child template `node` refers to `node` in `parent` template but should refer to `child` in that template.

[2014-04-07 20:48] #3 closed, assigned to jodosha

[2014-06-26 04:02] namtih58 opened #16 "Slim Template"
please consider supporting slim.
http://slim-lang.com

[2014-06-26 16:32] #16 closed, assigned to nobody

[2014-06-28 12:37] jodosha opened #18 "Code reloading"
Make Lotus::View compatible with [Rack::Reloader](https://github.com/rack/rack/blob/master/lib/rack/reloader.rb).
The implementation should take care of `Lotus::View::Configuration` internals.

[2014-06-28 12:43] jodosha opened #19 "Framework freeze"
The Lotus philosophy for application boot is: load all the code at the beginning, then freeze the parts that may suffer of accidental changes and lead to software defects.

This MUST include:
- [x] `Lotus::View.configuration`
- [x] All the configurations of the [single views](https://github.com/lotus/view/blob/master/lib/lotus/view.rb#L273)
- [x] All the configurations of the [single layouts](http

[2014-07-27 09:10] dzaporozhets opened #23 "Wrong docs for layout method inside View"
According to [layout](https://github.com/lotus/view#layouts) section I can set layout for View using Symbol. Like

[code]

But I get exception

[code]

at https://github.com/lotus/view/blob/master/lib/lotus/view/rendering.rb#L131. It tries to do `:application.new` and fails.

I tried passing class to `layout` method and it worked.

[code]
### Is it an issue in documentation or implementation?

Gem

[2014-07-29 12:13] #23 closed, assigned to nobody

[2014-08-11 16:05] viking opened #28 "Rendering scope method lookups"
If I have a View method called `select`, if I try to call `select` in the template, it calls `Kernel#select` instead of my view's `select` method.

The output of `p method(:select)` in the context of the template is:

[code]

[2014-08-26 10:59] activestylus opened #30 "Mustache Template Support"
I've used erb/slim for years, but nowadays mustache is all I use in order to share templates between server and client. While I can technically use it with Lotus by calling Mustache.render from the controller action, I miss out on the rendering conventions (configured template folder, auto-rendering based on view classes, etc)

Any chance of including mustache support in future versions of Lotus::

[2014-08-26 17:44] activestylus opened #31 "Consistent DSL for Controllers and Views"
In the docs I see the rationale behind `Lotus::Controller#action` is to DRY up the code from those repetitive `Lotus::Action` includes.  Love the idea for eliminating repetitive boilerplate, my only question is, why not apply the same DSL to `Lotus::View`?

[code]

I think I get why this wasn't done, since the view is a bit more pliable in how it responds to requests, but for cases where a fine gr

[2014-09-02 10:37] #28 closed, assigned to jodosha

[2014-09-07 07:55] kimh opened #32 "Does LayoutRegistry cache the resolving of view class?"
I got strange behavior when I am working view Lotus View. Although, I am not sure my assumption is correct, but it seems `Lotus::View::Rendering::Registry` caches bad request that I made previously and makes correct request not to work.

Here is my routing code.

[code]

And this is controller.

[code]

And this is view.

[code]

Now, I first try a good request and see that it responds correctly.

[2014-09-17 20:12] lstrzebinczyk opened #33 "When and how is NullTemplate used?"
I've been trying to benchmark Lotus::View::Rendering::NullTemplate#render performance, because it uses blk.call. I've written this code for that purpose:

[code]

whole code is available at https://github.com/KillaPL/lotus_null_template_benchmark, if you'd like to run it yourself.

The plan was to overwrite NullTemplate#render, replace blk.call with yield and compare the results. However, as writt

[2014-09-19 07:59] #32 closed, assigned to jodosha

[2014-10-06 19:14] jeremyf opened #35 "Confusing method name Lotus::View.dupe"
The method Lotus::View.dupe is confusing. At first I thought it was a typo. Then I realized it was being used consistently.

https://github.com/lotus/view/blob/master/lib/lotus/view.rb#L119

I am submitting a pull request to propose a solution and verify behavior on Travis.

[2014-10-17 08:39] #33 closed, assigned to jodosha

[2014-10-17 08:48] #35 closed, assigned to jodosha

[2014-11-04 12:52] plukevdh opened #39 "Using :format and overriding render causes issues"
New user here, eager to contribute if I can.

For reference: I'm running on the master branches of most of the parts of Lotus:

[code]

I have a few that I initially wrote like so:

[code]

Which errors with the following:

[code]

If I remove the `format: :json`, it works as expected (with the output of the overridden render method being rendered) but it took me some time to get there. However, t

[2014-11-21 10:32] #19 closed, assigned to jodosha

[2014-11-21 10:52] #31 closed, assigned to jodosha

[2014-11-28 08:10] jodosha opened #43 "Raise meaningful exception when a layout doesn't have a template"
ditto.

[2014-11-28 08:48] jodosha opened #44 "Add #class and #inspect to Scope and LayoutScope"
`Lotus::View::Rendering::LayoutScope` and `Scope` are inheriting from `BasicObject` which doesn't implement `#class` and `#inspect`. Those two classes are forwarding method calls to the wrapped view.

While in debugging we do `@scope.class` it returns `MyView`, which is confusing. The expected behavior should be `Lotus::View::Rendering::Scope` instead.

[2014-11-28 12:05] jodosha opened #46 "Allow configuration to specify default modules to include"
We have a similar configuration in Controller:

[code]

This will inject `Sessions` module every time `Lotus::Action` is included.

[2014-12-02 11:19] runlevel5 opened #49 "Add form_for helper"
There is a need to have this helper so user can actually set the update form method PATCH

[2014-12-02 11:46] #49 closed, assigned to jodosha

[2014-12-04 09:23] #18 closed, assigned to jodosha

[2014-12-04 09:36] #43 closed, assigned to jodosha

[2014-12-04 09:38] #44 closed, assigned to nobody

[2014-12-04 09:41] #46 closed, assigned to nobody

[2014-12-05 08:42] jodosha opened #50 "Rename Configuration#modules into #prepare"
Please remember to update the README too.

[2014-12-07 18:01] #50 closed, assigned to nobody

[2015-02-03 00:10] jc00ke opened #55 "Inheriting from core class, Hash"
Was browsing through the code and saw that the `LayoutRegistry` [inherits](https://github.com/lotus/view/blob/07b287168b029564e40cc53e754be58b8e9aa997/lib/lotus/view/rendering/layout_registry.rb#L24) from `Hash`.

Thoughts on composing a `@registry = {}` instead of using inheritance?

https://github.com/lotus/utils/pull/14

[2015-02-03 10:38] jodosha commented on #55
@jc00ke `LayoutRegistry` has that design before we discussed about this topic in lotus/utils#14.

While `Utils::String` and `Utils::Hash` are public, this class isn't. Because you care about this, would you mind to craft a PR to improve it? Thank you.

[2015-02-03 18:34] jc00ke commented on #55
I'd be happy to.

[2015-02-04 09:36] #55 closed

[2015-02-13 09:50] tomkadwill opened #61 "undefined method stack trace"
The following view class has a method `a_method`, which is valid. Inside there is a method `this_method_raises_an_error` which raises an error.

[code]
When calling `a_method` from the template, The resulting stack trace is not very specific and doesn't point to the problem function `this_method_raises_an_error`:

[code]

[2015-02-13 18:18] jodosha commented on #61
@tomkadwill Thank you, this should be more clear. You're right. Do you have time to fix this, or do you want me to do it?

[2015-02-13 22:12] tomkadwill commented on #61
@jodosha yes I have time. I haven't looked into it yet but I'll take a stab at solving

[2015-02-14 18:23] jodosha commented on #61
@tomkadwill Thank you! :+1:

[2015-02-22 20:38] tomkadwill commented on #61
@jodosha I can't reproduce this anymore! Were you able to reproduce it? Were there any fixes add recently that may have fixed this?

[2015-02-22 23:02] joneslee85 commented on #61
@tomkadwill what version did you try? You could use Github to compare changes between the now version and the version you tried

[2015-02-23 09:15] tomkadwill commented on #61
@joneslee85 I was using the following versions:
[code]

I can't reproduce the bug now :confused:. I think it may have been some weirdness trying to include 'lotus/helpers'. If nobody else has experienced this problem then I'll close.

[2015-02-23 09:52] joneslee85 commented on #61
I have not yet experienced this before so I close the ticket now. Please feel free to re-open if needed.

[2015-03-10 21:42] tomkadwill commented on #61
I've now managed to re-produce this issue. Can we re-open? :)

I've created an [example application](https://github.com/tomkadwill/lotus_bug_example) which simulates the problem. essentially, I have a method `universe_age` which contains a method `blah_path`. `blah_path` has not been defined and so the application should, ideally, raise a NoMethodError error for `blah_path`. However, the applicati

[2015-03-11 03:06] joneslee85 commented on #61
@tomkadwill I re-open the issue, I'd leave this to @jodosha

[2015-03-17 14:15] gzigzigzeo opened #64 "Can not set null layout for a view inside lotus app"
Example (locked on lotusrb 0.2.1):

[code]

[2015-03-18 08:50] joneslee85 commented on #30
Thanks for reporting this, I close this ticket for now as it is become too old without getting enough attention.

[2015-03-18 08:50] #30 closed

[2015-03-18 22:16] #64 closed

[2015-03-20 16:05] jodosha commented on #61
Closed by #63

[2015-03-20 16:05] #61 closed

[2015-04-08 08:02] jodosha commented on #39
Closing this for because it became stale.

[2015-04-08 08:02] #39 closed

[2015-05-20 21:54] jodosha opened #68 "Introduce #content as API to render optional contents"
If we want to render optional contents such as sidebar links or page specific javascripts, we can use `content`
It accepts a key that represents a method that should be available within the rendering context.
That context is made of the locals, and the methods that view and layout respond to.
If the context can't dispatch that method, it returns `nil`.

Given the following layout template.

[code]

[2015-05-21 13:09] #68 closed

[2015-06-21 22:00] farrel opened #72 "Nested resrource action renders partial from parent resource"
I have a resource `Organisation::OrderTemplate` which is nested inside `Organisation`. The routing file is as follows:
[code]
 I have the following template organisation:
[code]
In the `organisations/order_templates/new.html.erb` template I have the following snippet of code:
[code]
For some reason this tries to render `organisations/_form.html.erb` instead of `organisations/order_templates/_form.

[2015-06-22 21:12] farrel commented on #72
I managed to create some failing tests. It seems that in `TemplatesFinder#find`, the Dir.glob call returns the partials in the following order:
[code]
and the first result returned by `TemplateFinder#find` is the first partial.

[2015-07-03 10:28] jodosha commented on #72
@farrel Hello and thanks for reporting this. I'm sorry that this was confusing for you. Nested resources are a recent introduction and we haven't considered this aspect. Again thank you.

I'm trying to understand the opposite aspect of this. What happens if you are in the parent directory (eg. `apps/web/templates/organizations/new.html.erb`) and you do `render partial: 'form'` from it? Does it ren

[2015-07-03 11:22] farrel commented on #72
The code [I added](https://github.com/farrel/view/commit/086a4d3970e79ed8f506b238de0c97af3476647e#diff-10fac601d83830c8167c81f476dc4854R33) to PartialFinder will explicitly look for `apps/web/templates/organisations/_form.html.erb` if you call `render(partial: 'form')` in `apps/web/templates/organisations/new.html.erb`. If not found it defaults to the previous default  behaviour. I will add some f

[2015-07-03 22:30] farrel commented on #72
Added some extra tests to the PR.

[2015-07-09 06:57] jodosha commented on #72
Fixed by #73 Thank you again @farrel :+1:

[2015-07-09 06:57] #72 closed

[2015-08-31 01:15] rpanachi opened #76 "Template file is not valid US-ASCII (Encoding::InvalidByteSequenceError)"
The following occurs when I tried to run my test suite on Wercker environment (Docker):

[code]

The template file is in the current encoding:
[code]

I tried to set the `encoding: utf-8` on top of template file, but same error. Tried to set `LC_ALL=en_US.UTF-8` and `LANG=en_US.UTF-8` variables on the environment, but the error persist.

The one way that works is the following monkey patch on my `

[2015-09-14 10:00] joneslee85 commented on #76
@rpanachi would you be able to provide us that template file for our investigation?

[2015-09-14 10:18] jodosha commented on #76
@lotus/core-team I've created a PR to introduce `default_encoding` in `Lotus::View.configure` block.
@rpanachi In order to merge it, we need your template to add it as failing test. Thank you very much.

[2015-09-15 12:24] jodosha commented on #76
@rpanachi Which Ruby version are you using?

[2015-09-15 17:04] rpanachi commented on #76
@joneslee85 here a fragment of template that is enough to cause the error:

[code]

@jodosha I am using ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin14]

@lotus/core-team just confirming, passing the `default_encoding: "utf-8"` option to `Tilt` instance resolved the problem.

Thanks!

[2015-09-16 08:06] jodosha commented on #76
@rpanachi Thanks for your quick update. I still can't reproduce the error locally or on CI.

Please have a look at this [test](https://github.com/lotus/view/pull/78/files#diff-045e02574f152b6ba6553b330129976dR14). We use your template, **without setting Tilt locale** and it passes.

I've debugged CI env, see this [build](https://travis-ci.org/lotus/view/jobs/80589375).

[code]

[code]

Is there an

[2015-09-21 10:16] joneslee85 commented on #76
@rpanachi ping

[2015-09-21 12:32] rpanachi commented on #76
@jodosha My env setup is the same. I checked out the branch `default-encoding` and ran the Wercker build locally, adding this `wercker.yml` on project root:

[code]

And running `sudo wercker build`, this is the complete output:

[code]

**My final thoughts**: since this problem only happens in the Wercker environment, it should be a bug on Docker build image used by Wercker.

Since this a tiny ch

[2015-10-14 11:18] joneslee85 commented on #76
ping @jodosha, time to get merge or close

[2015-10-16 10:23] #76 closed

[2015-10-16 10:24] jodosha commented on #76
@rpanachi @joneslee85 merged :+1:

[2015-10-31 15:45] liamdawson opened #81 "All Lotus view errors inherit directly from StandardError"
This means any code rescuing these errors has to either:

* Rescue `StandardError` to rescue all errors in this module, or
* List all errors specifically in advance.

Advice I've been given on the topic by @jodosha is to subclass errors within the Lotus modules so they can be caught at a logical level.

[2015-11-03 09:27] #81 closed

[2015-11-08 17:40] mrubi opened #83 "LayoutScope raises a ::NoMethodError even when that particular mehod was present"
In the Lotus::View::Rendering::LayoutScope class we have the following implementation:

[code]

which always raises a NoMethodError for its own method missing, even if the scope or layout did responed to that method.

Example:

[code]

and also

[code]

In both examples the LayoutScope raises a NoMethodError  as if it did not respond to :title, which can be a bit missleading for finding the actual

[2015-11-16 14:58] jodosha commented on #83
@mrubi Thanks for reporting this. That's really annoying.

I've prepared a PR to fix it, can you please try and report if it fix your problem? Thank you very much!! :cake:

[2015-11-17 10:02] mrubi commented on #83
@jodosha Yes, it fixed it!
Thanks!

[2015-11-17 10:56] #83 closed

[2016-01-08 23:14] pascalbetz opened #89 "Only one registry per view superclass"
According to comment https://github.com/lotus/view/blob/master/lib/lotus/view/rendering/registry.rb#L48 there should be only one registry per view superclass.

According to my tests there is one registry per view. What is the reason for trying to have one registry per Superclass?

If no good reason i'd remove this code and make sure that there is one registry per view.

In addition: even if the co

[2016-01-09 09:24] pascalbetz opened #91 "Subclass views are not preloaded"
Lotus seems to make a distinction between _Superclass_ and _Subclass_ views. Subclass views are not preloaded like Superclass views are. Here is a gist that explains the details:

https://gist.github.com/pascalbetz/a431457425bef4c6e550

I'm not sure this is a bug. The behavior just is just not the same.

[2016-01-14 09:04] jodosha commented on #89
@pascalbetz The docs express the intended implementation. :wink:
If you have spotted a different implementation, please open a PR with the fix.

The goal is to have **one registry per view superclass**.

[code]

[2016-01-14 09:11] jodosha commented on #89
@pascalbetz

Let me explain the intent. That code is registering all the handled formats, according to the available templates.

There are a few cases to cover:

1. **One superclass, multiple templates.** We have just `Show`, but multiple templates for different formats like: `show.html.erb`, `show.json.erb`. So the view registers the `:html` and `:json` format at the boot time. If an CSV request

[2016-01-14 09:48] jodosha commented on #91
@pascalbetz I can't reproduce by following the steps in your gist. **It looks fine to me**.

Here's what I did:

[code]

Then I added another view:

[code]

I added the template:

[code]

Started the server with your instructions:

[code]

Please notice that I have added this line to `Lotus::View::Rendering::Registry#initialize`:

[code]

This is why the output is more verbose than your Gist. Now,

[2016-01-14 09:48] #91 closed

[2016-01-14 12:36] pascalbetz commented on #89
If you have

```Show``` handling ```show.html.erb``` and ```ExtendedShow``` handling ```extendedshow.html.erb```  then the registry would override one or the other because the key is the format (```html``` in both cases).

So, independent of the fact that this might not be the intention of subclass views, i think the implementation and the idea of having one registry per superclass view is faulty.

[2016-01-15 08:31] jodosha commented on #89
@pascalbetz

Now, I see.. Thanks for explaining :wink:
Well, this use case isn't supported, and I don't see any reason why we should. Any idea?

For a given action `Web::Controllers::Books::Show`, there is one corresponding `Web::Views::Books::Show` view. This last component is responsible to render the current asked format. One registry per superclass (aka `Show` view), helps to take the decision

[2016-01-18 09:44] pascalbetz commented on #89
Hello @jodosha

I think my confusion stems from having subclasses for different formats vs. subclasses for different actions. If you are serving a request for a subclass view it will be loaded on request time when it is served from a different action. I think this is why you could not reproduce (sorry for the faulty description, in that case).

Now i find it confusing that the naming pattern break

[2016-01-18 09:56] jodosha commented on #89
@pascalbetz

This is still unclear for me:

  * Where and how did you observed this lazy loading mechanism?
  * What does this means: "when it is served from a different action"? I assume that `Show` view is backed by `Show` action.

---

That could be a solution as well, but what are the gains? Lower memory footprint? Faster runtime lookups? More code flexibility?

:smile:

[2016-02-04 14:43] jodosha commented on #89
@pascalbetz I'm closing this because not high priority.

[2016-02-04 14:43] #89 closed

[2016-05-14 21:28] nessur opened #100 "TemplatesFinder has the same issue as the Partials Finder used to have."
Nearly identical to the issue fixed here: https://github.com/hanami/view/pull/73

This code is ambiguous:
`Hanami::View::Rendering::TemplatesFinder.new(Articles::Show).find`
When these files exist:
`apps/web/templates/members/articles/show.html.erb`
`apps/web/templates/articles/show.html.erb`

B/c the `def _find` method just calls:
`Dir.glob( "#{ [root, lookup, template_name].join(separator) }.#{

[2016-05-20 12:23] jodosha commented on #100
Fixed by #101

[2016-05-20 12:23] #100 closed

[2016-06-10 21:00] mereghost opened #102 "Hanami::Presenter turns private methods into public ones"
Consider the following example:

[code]

What I expected is that it would return false and not being able to be called with a receiver other than `self` as `SimpleDelegator` does.

Also, is there a reason that it does not use `SimpleDelegator` or tries to implement `Delegator` at all?

[2016-06-10 21:08] mereghost commented on #102
Dumb me forgot that `Hanami::Presenter` is a module, so forget about the `SimpleDelegator` stuff. :dizzy_face:

[2016-06-10 21:39] mereghost commented on #102
Investigating a bit it seems that the problem lies in [`Hanami::View::Escape.method_added`](https://github.com/hanami/view/blob/master/lib/hanami/view/escape.rb#L167).

Since the callback does not know anything about method visibility (just the methods name), it just redefines it as public.

And it also explains why I was getting escaped content out of a presenter in a view, which quite baffled me

[2016-06-10 22:06] mereghost commented on #102
The simplest fix I found was just to make a check if the method is public. If not, then the class attribute `autoescape_methods` should be set to false, which will skip the whole thing thanks to that `unless` clause.

[code]

I haven't found another place that's using `autoescape_methods` in the project, so a better implementation (IMHO) would be:

[code]

That way we stay positive (as Avid Grimm

[2016-06-11 13:54] jodosha commented on #102
@mereghost Magic code always bites..

I'm sorry about this issue. I guess one possible way to fix this is to check the visibility by using `public_instance_methods`, `protected_instance_methods` and `private_instance_methods`, and set same visibility.

Does it makes sense?

[2016-06-11 19:56] mereghost commented on #102
@jodosha Heh, no worries. I tend to look at every nook an cranny of the software I use, so I only can thank you for keeping up with the issues I'm opening. =)

That would make sense, but IMO only the public interface should be autoescaped as it's the only that should ever be used unless for some reason they can be called inside the templates (which I think is not the case nor desirable).

I did so

[2016-06-15 13:37] mereghost commented on #102
After some digging around I found out that I was just being dumb. I was calling `public_methods` and not `public_instance_methods` as a guard clause on the `method_added` method and that breaks everything.

[2016-06-15 13:40] jodosha commented on #102
@mereghost Does `public_instance_methods` solves the problem?

[2016-06-15 15:41] mereghost commented on #102
Yep. I ran implementation with the following line added:
[code]

If you think it's better, tho, it's possible to check in which access level each method is and just append that before the method declaration on the prepended module. While I would find weird that my strings are being escaped outside the exposed interface, it would make treat all strings in the same way so less surprising (if documen

[2016-06-16 07:25] jodosha commented on #102
@mereghost https://github.com/hanami/view#presenter-autoescape Do you think is this enough?
I've just checked on Guides and we miss an article about presenters.

In the meantime, would you like to write a fix for this problem? Thank you very much! 👍

[2016-06-16 14:22] mereghost commented on #102
Sure. I'll send a PR later this week. =)

[2016-06-16 15:32] cllns opened #103 "Circular dependency between Hanami::View::Escape and Hanami::Presenter"
[`lib/hanami/view/escape.rb`](https://github.com/hanami/view/blob/master/lib/hanami/view/escape.rb) includes `require 'hanami/presenter'`

[`lib/hanami/presenter.rb`](https://github.com/hanami/view/blob/master/lib/hanami/presenter.rb) includes `require 'hanami/view/escape'`

I get the following error, because of Rake 11 enabling Ruby warnings:
[code]

How can we avoid creating a circular dependenc

[2016-06-23 09:25] #102 closed

[2016-06-23 09:43] #103 closed

[2016-06-23 09:44] jodosha commented on #103
@cllns Thanks for opening this issue, I always forgot to fix this annoying problem. Now it's solved.

[2016-07-28 14:05] TiteiKo opened #106 "local with unknown key prints to html"
I don't know how to formulate the title better...

To be really simple:

[code]

generates

[code]

Using ```local(:foo).to_s``` gives the same

Only by using ```local(:foo).to_str``` gives the expected result:

[code]

Adding the following ```#to_s``` method to Hanami::View::Rendering::NullLocal is enough to obtain the logically expected output. Unless there's a reason not to?

[code]

For versio

[2016-07-28 18:02] cllns commented on #106
Instead of `local(:foo)` does just `foo` work, or `locals[:foo]` ?

[2016-07-28 21:22] TiteiKo commented on #106
foo => throws an error when the action/view does not have the method

locals[:foo] => never renders anything, locals being an empty hash

[2016-07-28 22:30] cllns commented on #106
Thanks. Can you post what your View looks like?

[2016-07-29 04:24] duykhoa commented on #106
It looks like `foo` isn't defined in your view

Here is the source of `local`

[code]

So if your view has the `foo` method, it'll call first. If not, it will check in the `locals` hash.
And if they key isn't exist in the `locals` hash, it returns a NullLocal object as your code above.

Just guess, rofl

[2016-07-29 09:06] TiteiKo commented on #106
@clins https://github.com/TiteiKo/hanami-null-local-issue

* ```/foo``` should display ```foo```
* ```/bar``` should display nothing but displays ```#``` (```#<Hanami::View::Rendering::NullLocal:0x007f82e3bd73e8>``` in the source, being interpreted as a html tag by chrome)

------

I did a few more tests this morning, this behaviour happens with haml, but not with erb or slim.

My guess is that fo

[2016-07-31 12:46] igneus opened #107 "Failed to boot app if unsupported template files present"
Some text editors have a habit of creating automatic backups of edited files. Emacs is among them.
The backup files (with tilde added at the end of the file name) in a view directory make hanami crash:

[code]

I would find it more convenient to ignore unknown files rather than crash on them.

[2016-07-31 22:03] cllns commented on #107
Thanks for this issue! Many of us use `vim` so we never know about these kinds of errors with other text editors.

This is definitely something we want to fix!

Could you try to write a failing test that demonstrates this issue?

[2016-08-01 04:25] joneslee85 commented on #107
We should probably gracefully ignore unsupported template files on first scan and only raise error when user access the page that render templates. Sound like a good enhancement PR. Anyone up for it? I could provide guidance if needed.

[2016-08-07 14:49] akhramov commented on #107
@joneslee85 may I take this?
My idea is to make Tilt's template initialization lazy. So error will be raised either on [Hanami::View::Template#render](https://github.com/hanami/view/blob/fd219cf651e0fff9833027c8fb3c9d5bc199d8ca/lib/hanami/view/template.rb#L40-L42) or [Hanami::View::Template#format] (https://github.com/hanami/view/blob/fd219cf651e0fff9833027c8fb3c9d5bc199d8ca/lib/hanami/view/templa

[2016-08-08 10:11] jodosha commented on #106
@TiteiKo Thanks for reporting this. Yes, it was only tested with ERb on my side, so `#to_str` was enough. You're right, we should add an alias `#to_s` to make it to work. 👍

[2016-08-09 07:45] #106 closed

[2016-08-26 16:07] fleadope commented on #107
I can confirm this - I was getting the same error with my bundle installed to 'vendor/bundle' - many of the gems have template files with a "*.tt" extension, and tilt barfs when it comes across them in the find method.

When I moved my bundled files to '.bundle,' the error resolved.

[2016-08-26 16:26] igneus commented on #107
@fleadope that's quite scary. I would not expect the framework to look for templates in any other directory than the views directory.

[2016-10-13 17:11] yjukaku opened #111 "View Reloading not working on 0.8.0"
Hanami View changes are not being auto-reloaded by the server.

[code]

Steps to reproduce:
1. Create new Hanami project. `hanami new reloadtest`
2. Create action. `hanami generate action web books`
3. Start server. `hanami serve`
4. View empty page at `http://localhost:2300/books`
5. Update created view.

[code]
1. Change template `books/index.html.erb` to use view method:

[code]
1. Crash:
   ![

[2016-10-13 18:04] yjukaku commented on #111
It seems like changing the view template does reload automatically, but not the view object itself.

[2016-12-01 09:54] TiteiKo commented on #111
@yjukaku Hi, 0.8.0 introduced this regression that was fixed here https://github.com/hanami/hanami/pull/628 and published with 0.9.0

[2016-12-01 09:54] #111 closed

[2017-01-21 15:31] AlfonsoUceda commented on #107
@jodosha what would we do whit this issue?

[2017-01-21 18:53] igneus commented on #107
@AlfonsoUceda As the person probably most annoyed by this issue, I have been planning to implement the "ignore unsupported template files" solution and submit a PR sometime in the near future.

[2017-01-21 19:13] AlfonsoUceda commented on #107
thanks @igneus ;)

[2017-02-06 17:02] mereghost commented on #107
@igneus just to set you on track the issue is caused by the [`TemplatesFinder#L96`](https://github.com/hanami/view/blob/master/lib/hanami/view/rendering/templates_finder.rb#L96) as it searches for the `action_name.*.*`. =)

[2017-02-06 17:07] igneus commented on #107
@mereghost If you want to take over this issue, go for it. I won't get to it neither today, nor tomorrow.

[2017-02-23 13:20] jodosha commented on #107
Closing this as it would require a major change in the loading process. The quick, non standard solution is avoid the editors to create backup files and to ignore them in `.gitignore`.

[2017-02-23 13:20] #107 closed

[2017-03-20 09:56] jodosha opened #120 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-20 09:56] jodosha commented on #120
@nerdinand is in charge for this.

[2017-03-21 05:35] sahithi-ihtihas commented on #120
@jodosha   I am beginner and would like to take up the issue. Can you please guide me in doing that ?

[2017-03-23 08:34] jodosha commented on #120
@sahithi-ihtihas I'm sorry but @nerdinand is already working on this. Please see #121.

Would you like to take another framework? See http://bit.ly/hanami-help-wanted

[2017-04-17 16:16] sakuro opened #122 "form_for helper in slim template"
From [discourse topic](https://discourse.hanamirb.org/t/form-for-helper-in-slim-template/327):

I am [replacing ERb templates with Slim in the Bookshelf app](https://github.com/sakuro/bookshelf) of the Getting Started guide.
But I found it is difficult to translate the use of Hanami's `form_for` helper in ERb templates to Slim since Slim is line oriented and [multiple lines must be joined with bac

[2017-04-17 19:49] TrevorBramble commented on #122
This is one of the things I mentioned on our call awhile back @jodosha. =^)

[2017-04-18 15:00] jodosha commented on #122
Because we have native support for ERB, HAML, and Slim, it's worth to have adapters for these three template engines in order to support "capturing".

We could transform:

[code]

Into the more familiar form for Ruby developers:

[code]

---

This is a breaking change that should target 2.0. What @hanami/core think?

[2017-04-20 04:41] cuonggt opened #123 "Can't find a convenient way to display raw HTML content in hanami view"
I have a sample content and expose it:

    module Web::Controllers::Welcome
      class Index
        include Web::Action

        expose :content

        def call(params)
          @content = '<h1>Hello World!</h1>'
        end
      end
    end

In view, I want to keep raw content:

    module Web::Views::Welcome
       class Index
         include Web::View

        def raw_content

[2017-04-20 17:48] cllns commented on #122
Don't we want to encourage `form_for` to go into the view, rather than the template?

I like the the current syntax but I'm okay with switching if there's a strong need for it :)

[2017-04-20 17:53] TiteiKo commented on #122
In slim you can write your forms like this:

[code]

[2017-04-20 17:58] TiteiKo commented on #122
@cllns I'm don't think the all form should go in the view. There's way too many templating informations in it (divs, labels, grid stuff....)

Instead what I like to do is this:

[code]

[2017-04-20 18:25] TiteiKo commented on #123
Hi @cuonggt, could you try with the following please?

[code]

[2017-04-21 02:21] cuonggt commented on #123
@TiteiKo : thank you for reply. I tried but it still doesn't work. Did you ever try it?

[2017-04-21 09:05] TiteiKo commented on #123
Hi @cuonggt

So, turns out that [this line of code](https://github.com/hanami/view/blob/master/lib/hanami/view/rendering/scope.rb#L67) is the source of your problem.

Your `content` exposed by the action isn't itself escaped, its the view that escapes it when you call it.

In a nutshell, this works:
[code]

ping @jodosha @AlfonsoUceda @mereghost WDYT?

[2017-04-21 09:53] davydovanton commented on #123
@cuonggt hey, I created the simple example for `raw` and `h` methods. You can find commit here:
https://github.com/hanami/contributors/commit/68b8bc1e79ac97bb6a74e49523969cebc25ef5fd

Ant this code returns this HTML data:
![screenshot 2017-04-21 12 48 13](https://cloud.githubusercontent.com/assets/1147484/25272649/5fc077e0-2691-11e7-981b-e770084c5400.jpeg)

I hope it will be helpful for you 👍

[2017-04-25 08:09] jodosha commented on #122
@cllns I always use them in the template. Having them in the view, is a workaround to DRY code between the "edit" and the "create" view/template. But this is another story.

I'd like to have that ERB/Slim syntax outlined in the comments above. The target should be 2.0.

@hanami/core WDYT?

[2017-04-25 08:23] jodosha commented on #123
@cuonggt Hi and sorry about this confusion. There is a guide article that describes [Markup Escape](http://hanamirb.org/guides/helpers/escape/) with a case similar to yours. It's probably worth to update it with your case too, as I think it's a common one.

---

This code works:

[code]

[code]

[2017-04-25 08:23] #123 closed

[2017-04-26 02:34] cuonggt commented on #123
That is exactly thing that I need. Thank you @jodosha.

[2017-04-27 07:59] mbajur opened #124 "Not able to use jbuilder for views"
Hello,

I'm not sure if thats a fault of `hanami-views` or `tilt-jbuilder`, there is an issue opened for `tilt-jbuilder` here: https://github.com/anthonator/tilt-jbuilder/issues/20 (without any response. So i'm gonna try in here)

Basically - i want to use jbuilder for templates rendering in my hanami 1.0 app. However, after adding `jbuilder` and `tilt-jbuilder` to my Gemfile, when trying to rende

[2017-04-27 08:07] jodosha commented on #124
@mbajur Hi, I'm sorry about this problem. Can you please add here a few details:

  1. The path to the template (eg. `apps/web/books/show.json.jbuilder`)
  1. The contents of the template
  1. An example of the corresponding view (eg the code of `Web::Views::Books::Show`)

That would be helpful to understand what's going on.

[2017-04-27 08:12] mbajur commented on #124
Sure thing!

1. It's `apps/api/templates/v1/events/index.json.jbuilder`
2. Im not sure if sending it is worth anything cause it happens no matter if the file is empty or has any contents. But, here you go: https://gist.github.com/mbajur/0ce7553707a8a56052f4bd5f4b8e8653#file-index-json-jbuilder
3. The view is a bare file created by generator: https://gist.github.com/mbajur/0ce7553707a8a56052f4bd5f4

[2017-05-09 21:44] yjukaku opened #125 "Sublayouts like Rails"
In Rails, we can use 'sublayouts' which are layout files that are rendered within another layout:

[code]
[code]

Rendering something using the 'child_layout' layout would result in

[code]

Is this possible in Hanami?

[2017-05-09 22:33] davydovanton commented on #125
Hey, I think you can use view objects for this. For example:
[code]

[2017-05-09 23:55] yjukaku commented on #125
Yeah, I was afraid that a view was the only way. I was wondering if there was a way to implement the layout in an ERB file rather than using plain ruby code. 🤔

[2017-05-10 15:45] yjukaku opened #126 "Using render with unknown type raises NoMethodError"
It would be helpful to get a meaningful error message if, eg. you do something like this:

[code]

Right now, you get an error like:

[code]

I'll try to submit a patch for this ASAP.

[2017-05-10 16:41] yjukaku commented on #125
Actually, I don't think what you proposed works. How would I reuse the child template across multiple views? And how would I `yield` to the eg. index.html.erb content?

[2017-05-10 20:10] davydovanton commented on #125
hey, sorry. I found other solution. I hope it will be more helpful for you :)
https://github.com/hanami/view#optional-content

[2017-05-11 14:47] yjukaku commented on #125
Hmm, I did see those before but I'm not sure it's possible to do what I want. How would you use 'optional content' (`local`) to render one layout *inside* of another layout? It seems like `local` is for choosing what kind of content goes in specific areas of the page.

Thanks for your help.

[2017-05-17 21:30] davydovanton opened #128 "Render specific partial from view object/action"
Sometimes it's useful for render specific template in some cases. For example:
[code]

I know that it looks like a code smell, but I think it will be a frequent question after rails or another web framework. WDYT should we decide how to resolve this issues or not? @hanami/core

[2017-06-22 21:37] mereghost commented on #126
Closed by #127

[2017-06-22 21:37] #126 closed

[2017-07-15 07:16] michaellennox opened #129 "Rendering a partial template from application layout breaks view rendering in unit test environment"
**Description**

Adding a partial template to be rendered from the layout template using the `render partial: '<partial_name>'` method stops the `#render` method of the associated view working in a unit test environment.

**Repository with reproduction**

Master passes tests: https://github.com/michaellennox/partial_render_bug
Soon as partial is added to layout unit test breaks with backtrace belo

[2017-07-31 11:58] nerdinand opened #130 "undefined local variable or method `haml_buffer' when using haml templates"
Steps to reproduce:

1. `hanami new bookshelf --template=haml`
2. `cd bookshelf`
3. `bundle`
4. `hanami generate action web books#new`
5. `hanami server`
6. visit http://localhost:2300/books/new in a browser
7. stack trace is shown: https://gist.github.com/nerdinand/080ebe782ac18bf03d4111e6344e5072

When doing the exact same thing without `--template=haml`, I see an empty page in the browser, as I

[2017-08-01 09:13] jodosha commented on #120
Implemented by #121

[2017-08-01 09:13] #120 closed

[2017-08-01 09:59] jodosha commented on #130
This is a really subtle bug.

---

In order to render a template, we pass a scope (`Hanami::View::Rendering::Scope`) which wraps the data (locals) that is needed for the rendering process.

This is an object that needs to expose a method for each local that we pass. For instance: if we pass `{ number: 23 }`, if we do `scope.respond_to?(:number) => true` and `scope.number # => 23`. This is a requir

[2017-08-01 10:15] jodosha commented on #130
@nerdinand Can you please try if it works with this patch? https://github.com/hanami/view/pull/131 Thanks.

[2017-08-01 10:20] jodosha commented on #122
Closing this, as the discussion led to a solution for @sakuro. Thank you all!

[2017-08-01 10:20] #122 closed

[2017-08-01 11:17] jodosha commented on #124
@mbajur I opened a PR for `tilt-jbuilder`, to make it compatible with `BasicObject` and by consequence with Hanami.

Please check it: https://github.com/anthonator/tilt-jbuilder/pull/21

[2017-08-01 11:17] #124 closed

[2017-08-01 12:39] #125 closed

[2017-08-01 12:39] jodosha commented on #125
@yjukaku It looks like you found a solution for your question. Closing this. 😄

[2017-08-01 13:03] jodosha commented on #129
@michaellennox Hi, I'm sorry but it isn't possible to unit test layouts right now. The setup for a layout is quite complex and its `#initialize` signature is different from a view: https://github.com/hanami/view/blob/master/lib/hanami/layout.rb#L122-L126.

It's marked as `private` API for this purpose. You can indirectly test it, by rendering a view and asserting if the markup is the expected one.

[2017-08-01 13:03] #129 closed

[2017-08-01 13:05] jodosha commented on #128
I really want to solve this problem, but I'm not sure yet which gem should include this feature (`controller`, `view`, or `hanami`). We should probably open a new forum thread instead.

[2017-08-01 13:05] #128 closed

[2017-08-02 05:09] yjukaku commented on #125
I actually don't think this has been answered, but I no longer am working on the project that needed this. What I had done was make a small patch to hanami view that would have allowed specifying the parent layout, because it didn't seem to be possible with what was available

[2017-08-02 07:40] #130 closed

[2017-08-03 13:22] nerdinand commented on #130
Thanks for the quick fix! Unfortunately it doesn't seem to be quite fixed yet. I'm getting a similar stack trace now while rendering `application.html.haml`: https://gist.github.com/nerdinand/a24df4dca805caee909530b2d091b154

[2017-08-04 08:55] jodosha commented on #130
@nerdinand Thanks for the quick feedback. Here's a fix for that too: https://github.com/hanami/view/pull/132

[2017-08-05 06:07] nerdinand commented on #130
@jodosha I can confirm, everything works as expected with that fix. Thanks!

[2017-08-05 13:05] jodosha commented on #130
@nerdinand Please install `hanami-view-1.0.1` which ships with this fix.

[2017-09-26 09:30] cveneziani opened #135 "Broken link in CONTRIBUTING.md file"
In the section [Submitting a Pull Request](https://github.com/hanami/view/blob/master/CONTRIBUTING.md#submitting-a-pull-request), the link on `Create a topic branch.` is broken.

It leads to a 404 page.

[2017-10-01 20:10] AlfonsoUceda commented on #135
thanks @cveneziani we need to update new github pages in those links.

[2017-10-08 19:38] #135 closed

[2017-10-15 13:45] nerdinand opened #137 "View specs fail when view renders partial"
It seems view specs fail when the tested view renders a partial, e.g.
[code]

[code]

[code]

When running the app and visiting http://localhost:2300/books/1/edit, everything works as expected:
[code]

But when running the specs:
[code]

Here's a sample application to reproduce this: [bookshelf.zip](https://github.com/hanami/view/files/1385473/bookshelf.zip)

BTW, it's totally possible that I'm ju

[2017-10-16 13:59] AlfonsoUceda commented on #137
Hi @nerdinand thank you for this issue, we'll take a look as soon as possible.

[2017-10-16 20:13] cveneziani opened #138 "Custom error page not rendered on view and template errors"
I've implemented a custom error page for the 500 code status. I've followed this guide: http://hanamirb.org/guides/1.0/views/custom-error-pages/

It turns out that in production my custom page is displayed only on errors that occur within the controller. But when an error occurs either in the view or in the template, the custom page is not used. Instead I get the "**Internal server error**" page p

[2017-10-21 18:07] nerdinand commented on #137
`be rspec --backtrace` leads to this:

[code]

[2017-10-21 18:10] nerdinand commented on #137
I did some digging. For some reason the resolution of the `format` attribute does not work properly for partials in this case.

Changing https://github.com/hanami/view/blob/f8c09005d184d2c4de0f68bace8629ffcf5e28e7/lib/hanami/view/rendering/partial.rb#L26 from

[code]
to
[code]

fixes the problem. I don't know what a proper fix would look like though...

[2017-10-30 09:45] nerdinand commented on #137
@AlfonsoUceda @jodosha Any news on this one? Would really like to set my view tests to non-pending... ;-)

[2017-11-07 11:35] jodosha commented on #137
@nerdinand Can you please try with `hanami-view` `v1.1.0`, but with this line in your unit test?

[code]

This works for me locally.

[2017-11-08 09:55] nerdinand commented on #137
@jodosha that worked for me, thanks. Even with hanami-view 1.0.1. But you have to admit it's not a very obvious thing ;).

[2017-11-08 10:42] jodosha commented on #137
@nerdinand no it's not, that's why we're adding it by default (see https://github.com/hanami/hanami/pull/860)

Thanks for getting back so quickly.

[2017-11-09 10:39] cveneziani opened #139 "About partial template and local overwrite"
I've encountered two behaviours that I didn't expect regarding locals and partial templates.

## Exposure overwrite

When rendering a partial template with a local, it overwrites my exposure that has the same name as the partial local.

Here is an example:

[code]

[code]

Then it means that I can't rely anymore on the exposed `name`.

## Partial local available in calling template

[code]

[code]

[2017-11-11 22:11] AlfonsoUceda commented on #139
@cveneziani thanks for spotting this problem, I'll take care of this.

[2017-11-13 14:27] AlfonsoUceda commented on #138
@cveneziani thanks for letting us know, I'll check as soon as posible.

[2017-11-20 13:38] #137 closed

[2017-11-20 13:45] jodosha commented on #139
@cveneziani Thanks for the report.

---

The first case ("Exposure overwrite") works as intended: if you specify an inline override it takes the precedence over the broader scope value. Conceptually it's like:

[code]

---

For the second case ("Partial local available in calling template") I think that is a problem that should be fixed.

[2017-11-20 15:49] cveneziani commented on #139
I agree that in the context of the partial the inline override takes precedence over the broader scope value. My problem is later on, my initial template gets the overwritten value.

If I take back your example, I expect to have this behavior:

[code]

But in fact, I get that:

[code]

Is that the intended behavior?

[2017-11-21 15:04] jodosha commented on #139
Nope. 😓

---

In my understanding this is only one problem not two, is it correct?

[2017-11-21 15:12] cveneziani commented on #139
Kind of.

The first problem is that the exposure is overwritten.

The second problem is that the action is not exposing anything and suddenly the local from the partial is now available within the initial template.

If I take back your example, the second problem is this one:

[code]

[2017-11-22 20:48] AlfonsoUceda commented on #139
@cveneziani thanks for the detailed answer, let me fix it ;)

[2017-11-23 08:22] AlfonsoUceda commented on #138
@cveneziani I can confirm that this is a bug, I'll try to fix as soon as possible. Thanks!

[2017-11-23 10:42] cveneziani commented on #138
Thanks :)

[2017-11-25 11:50] AlfonsoUceda commented on #138
This is not a bug in hanami/view, it's a bug in hanami gem, I'll open an issue in hanami repo linking it here.

[2017-11-25 12:09] AlfonsoUceda commented on #138
Superseed by https://github.com/hanami/hanami/issues/865

[2017-11-25 12:10] #138 closed

[2017-11-30 11:26] malin-as opened #141 "Partial templates that can yield"
Hi,

I've had this requirement from time to time, I don't know if there is a specific name for it. I have a big chunk of HTML that I use on different pages, but I want to be able to customise something inside it. So I'm going to use small examples that aren't worth the trouble, but in practice it can be large templates, and the nesting makes sense. I'm using Slim:

[code]

And the partial goes lik

[2017-12-04 08:23] AlfonsoUceda commented on #141
Hi @malin-as, can you tell us the folder's structure of the partials? one more thing, can you test against branch `139-local-overwrite`?

[2017-12-05 09:16] malin-as commented on #141
Hi @AlfonsoUceda, I use the following files:
[code]
I had some trouble in the past with partials stored elsewhere than directly in the `templates` directory, and never took the time to investigate, so for now I stick to this format.

I patched the `139-local-overwrite` with my commit, and still get the expected result. All the tests (for hanami-view) succeed.

[2017-12-05 17:34] AlfonsoUceda commented on #141
@malin-as can you follow this guide? http://hanamirb.org/guides/1.1/views/layouts/#optional-content

So you can get rid of that hack, I think what you are trying to achieve can be reached with that guide.

[2017-12-06 04:35] malin-as commented on #141
@AlfonsoUceda yes, I think it is possible but it makes for a very messy piece of code. What I'm precisely trying to do is to have a markdown editor (a simple one, at the moment) that I can use in different pages of my app. Right now, the partial template looks like that:

[code]

I yield the creation of the textarea so that it can be done by the calling template in whichever way it wants. Right no

[2017-12-07 10:48] AlfonsoUceda commented on #141
@malin-as two points:

I think we need to fix this, can you open an issue with the problem?

Please, remove shotgun from your Gemfile and this gem `hanami-reloader`, right now is in experimental phase but I've talked with @jodosha and it works well, can you try that?.

IMO, we shouldn't support yield blocks when rendering partials but I don't know what other people think.

[2017-12-14 11:27] inem opened #142 "Presenter seem to escape quotes even when I use _raw method"
I decided to try Hanami Presenter in one Rails project, but I found this strange behavior:

[code]

[code]

Result:
[code]

Is it a bug or am I missing something?

[2017-12-18 15:14] inem commented on #142
Alright, my bad.

I should have been used `_raw @object.model` in my method.

Figured it out after reading specs of Hanami View

[2017-12-18 15:14] #142 closed

[2017-12-18 19:46] AlfonsoUceda commented on #139
Closed by #140

[2017-12-18 19:46] #139 closed

[2018-01-05 15:28] caiges commented on #129
Maybe the generator should remove the default application layout spec until the testing layouts becomes more feasible? I ran into this yesterday from a newly generated app (using haml and minitest).

[2018-02-27 22:12] gizotti opened #143 "Allowing for more than one path for template lookup"
I have had a quick chat to @jodosha about this on gitter.

I am trying to replicate this component based architecture in hanami https://evilmartians.com/chronicles/evil-front-part-1
I like how a component has everything in it's folder, inside the frontend/components/my-component. It has its css, js, and html.erb template in that folder.
The css and js part of it I can do with no problems using han

[2018-02-27 22:16] gizotti commented on #141
@AlfonsoUceda my two cents in this matter.

IMO supporting yield blocks when rendering partials can bring benefits if trying to implement a different frontend architecture than the default one used by hanami.

An example of that is building components using partials (https://evilmartians.com/chronicles/evil-front-part-1 for more info) that I am trying to replicate in Hanami.

#143 has a better exp

[2018-04-18 07:30] javimbk commented on #129
Got the same problem as @caiges , it was really confusing for me and even though I searched in Google couldn't find anything. I'm saying +1 on his suggestion since it can lead you to think that you have done something wrong.

[2018-05-23 17:20] cllns commented on #143
👍 . We're working on integrating/merging `hanami-view` with `dry-view` and I think this type of thing is better supported with `dry-view`.

Regardless, if/when this is supported, when a template isnt' found, we should output a list of all the places that were checked.

[2018-05-29 20:21] cllns opened #148 "Ignore `.orig` files in template folders"
I just resolved a git merge and it left a `apps/web/templates/application.html.slim.orig` file lying around. When I go to any path, I get the following error:

[code]
It's easy enough to fix: just delete that file. But it's a pain, and kind of surprising.

I think we should ignore `.orig` files, since they're definitely not supposed to be template files. We shouldn't try to load them into `tilt`.

[2018-06-04 17:11] cllns commented on #148
@jodosha It's an artifact of `git mergetool`, it saves the unresolved file as a backup, incase you messed up the merge. It looks like it can [be disabled](https://stackoverflow.com/a/1627557) but that's not the default setting.

[2018-06-05 09:57] jodosha commented on #148
@cllns I'm against this change then. Because if we go down the rabbit hole of ignoring all the artifacts generated by developer tools (git, IDE, text editors), we'll have a long blacklist of file extension to maintain. 👎

[2018-06-05 23:18] cllns commented on #148
I don't think we have to go down the rabbit hole of ignoring all the artifacts generated by developer tools. In this case, every user will be using source control. Almost every user will be using git, and the ones that don't will likely be using mercurial, which also generates these `.orig` files.

[2018-06-11 07:30] #148 closed

[2018-06-11 17:44] cllns commented on #148
Ok! I'm not sure what your workflow for merging branches is, but it's clearly different from mine (or you have `mergetool.keepBackup false` in your gitconfig :)

[2018-06-12 08:43] jodosha commented on #148
@cllns This is my configuration https://github.com/jodosha/dotfiles/blob/master/.gitconfig

Which tool do you use to merge?

[2018-08-07 13:59] jodosha commented on #141
@malin-as The feature looks interesting. Would you please open a PR with your feature? Please remember to use `develop` branch as base.

[2018-08-07 14:01] jodosha commented on #143
@gizotti I think this can be theoretically implemented with the 1.x series of `hanami` and `hanami-view`. Would you give it a try? Please remember to target the `develop` branch. Cheers.

[2018-08-07 23:27] gizotti commented on #143
Thanks @jodosha. I'll have a go at it.

[2018-08-22 17:53] papile opened #151 "raw view helper does not work"
In the docs there is reference to the view helper `#raw` to prevent HTML escaping on contents in the view. Using this in a view results in it being delegated to `method_missing` which only takes one parameter, the method in views/render.rb. This results in an argument error 2 for 1. Upon looking at the specs I see `_raw` which when used in the view works as expected.

I am not sure if it is that t

[2018-08-22 18:00] papile commented on #151
`module Api::Views::Items
  class Show
    include Api::View

    def render
      #broken "wrong number of arguments (given 2, expected 1)"
      raw 'hello'
      #works
      _raw 'hello'
    end
  end
end`

I have updated the docs and can submit a PR if it is supposed to be `_raw` I just am new to this project and didn't know the intention.

[2018-08-28 23:51] steakknife opened #153 "Undefined method `locals'"
Maybe I'm holding it wrong, but it looks like an API changed or something didn't load properly. Suggestions or is this a bug?

### MCE

[code]

### Output

[code]

### Versions

- macOS 10.13.6 (17G65)
- ruby 2.5.1
- gem 2.7.7

#### Gem Versions

haml (5.0.4)
haml-lint (0.999.999)
haml-rails (1.0.0)
haml_lint (0.28.0)
hanami (1.2.0)
hanami-assets (1.2.0)
hanami-cli (0.2.0)
hanami-controller (1.2.0

[2018-09-17 07:26] AlfonsoUceda commented on #153
@steakknife yes, it is a bug because this doesn't happen with `erb` neither `slim`, I'll try to check what is happening, thanks for the issue :)

[2018-09-19 07:13] steakknife commented on #153
No prob. Shoot the messenger now or later? ;)

PS: I'm gonna have to unshift to my Ruby features wish-list: ["protocols"/"interfaces"](https://gobyexample.com/interfaces) and
[gradual-typing](https://www.python.org/dev/peps/pep-0484/#type-definition-syntax) ([academic paper & demo here](https://codeclimate.com/blog/gradual-type-checking-for-ruby/)) to catch more categories of bugs instead of being

[2018-09-20 10:39] jodosha commented on #153
@AlfonsoUceda It looks like #140 introduced this problem. Specifically this line:

https://github.com/hanami/view/pull/140/files#diff-5d90b9ac33da24fadae41a69b3800763R233

---

If I try to reproduce the problem by using a patched version of `hanami-view`, it works:

[code]

Would you mind to have a look? Thanks.

[2018-09-20 10:56] jodosha commented on #151
@papile Are you using `hanami-view` in isolation? If so, please note that `#raw` it isn't defined in this gem, but `#_raw` is.

---

`#raw` is a method from `hanami-helpers`, so it's available in the view context only if you use `hanami`.

Please double check that `apps/api/application.rb` has the following lines:

[code]

If I comment it, then I'm able to reproduce the problem.

[2018-09-20 10:56] #151 closed

[2018-09-20 14:06] papile commented on #151
Yes I was using it in Hanami. My `application.rb` has the include helpers block. I am not sure what the difference is between my app and the simple bookshelf one. So I suppose my view did not have the helpers included for some reason despite it having included `Api::Views` and having the helpers included in application.

One thing I've noticed with Hanami is with the large amount of metaprogrammin

[2018-09-20 15:57] jodosha commented on #151
@papile You can also do `Api::Views::Items::Show.included_modules` to check if `Hanami::Helpers` is included.

[2018-09-20 23:52] steakknife commented on #153
@AlfonsoUceda  Works.
[code]

I tried to slip a `binding.pry` at the beginning of that method, but it stack overflowed, probably some sort of pry inspection amplification circular-dependency.

If backwards compat were needed:

[code]

Otherwise LGTM.

[2018-10-16 10:01] #153 closed

[2019-09-24 19:33] inouire opened #161 "NameError: uninitialized constant Hanami::View::Rendering::Scope::String when used with tilt 2.0.10"
Since my upgrade from 1.3.2 to 1.3.3, my app doesn't start, here is the stack trace

[code]

[2019-09-25 14:56] unleashy commented on #161
@jodosha Works beautifully for me. Thank you for your hard work! :heart_decoration:

[2019-09-25 17:13] jodosha commented on #161
Fixed by https://github.com/hanami/view/pull/160

[2019-09-25 17:13] #161 closed

[2019-09-25 19:47] inouire commented on #161
FWIW, works for me too :+1:

Thank you Luca

[2019-10-04 11:44] jodosha commented on #141
Implemented by https://github.com/hanami/view/pull/163

[2019-10-04 11:44] #141 closed

[2019-12-31 08:45] MITSUBOSHI opened #168 "spec randomly fails: Hanami::View::MissingTemplateError"
## Problems
- https://github.com/hanami/view/blob/9af8499ae1e7ce81c7eb85167222d9b3bfff2ec7/spec/unit/hanami/view/rendering/layout_scope_spec.rb#L113-L120
  - this example fails randomly.

### Causes
-  https://github.com/hanami/view/blob/9af8499ae1e7ce81c7eb85167222d9b3bfff2ec7/spec/support/rspec.rb#L23
    - `hanami-view` executes spec randomly.
- https://github.com/hanami/view/blob/9af8499ae1e7c

[2019-12-31 10:55] jodosha commented on #168
Fixed by https://github.com/hanami/view/pull/167

[2019-12-31 10:55] #168 closed

[2020-06-16 10:15] DannySantos opened #175 "Adding a resolve method to the View module"
I've had an issue recently where I've wanted to create "component" classes that are essentially POROs which return an HTML component (say a modal, button or form) using the `HtmlBuilder`.

Initially we defined them as methods on our view objects, but that didn't allow us to share them across multiple views.

Then we created modules which could be included in the views, but they weren't ideal for t

[2021-01-04 16:15] adam12 opened #184 "Specs are broken on master"
Broken since dry-configurable 0.12.

I bisected it to dry-rb/dry-configurable@5fb0ca719f1e190d247c79f6dc218eb52439984a and will submit a patch to dry-configurable.

Tracking here for reference.

[2021-02-08 11:55] #184 closed

[2022-09-16 10:38] iomelchenko opened #213 "Incorrect gems name in the Readme file"
**Before you submit this: WE ONLY ACCEPT BUG REPORTS AND FEATURE REQUESTS**

For more information see `CONTRIBUTING.md`.

**Describe the bug**

gem's name - `hanami/view` in Readme file is incorrect
need to be replaced to
`gem "hanami-view" in the description`

**To Reproduce**
bundle
Fetching gem metadata from https://gems.solaris.tools/.........
Could not find gem 'hanami/view' in rubygems repos

[2022-09-16 15:35] #213 closed

[2022-09-18 08:56] iomelchenko commented on #213
Thank you @cllns !